#hoverr {color: black; }
  #hoverr:hover {
    background-color:#EDCCB9;
    color: white;}

    #razanali{font-size:4rem; color:black;}
    #full{font-size: large;}

    .home{
      background-color: #eff2f7;
      height: 700px;

  }
  .inner{
      width: 50%;
      padding-top: 2.5rem;

  }
  .home-inner{
  
      display: flex;
      justify-content:center;
      align-items: center;
      font-family: 'Noto Sans', sans-serif;
      padding-top: 3rem;
      margin-left: 27rem;
  }
  h2{
      text-align: center;
      color: #fc5c65;
      font-family: 'Noto Sans', sans-serif;
      font-size: 2.5rem;
      font-weight: 600;
  
  }
  
      #main-img{
      
        width: 50%;
        object-fit: cover;
        object-position: 50% 100%;
       
        
    }
    .home-info{
        width: 50%;
        
    }
    .home-info h1{
        font-size:1rem;
        font-weight: 30px;
        color: black;
    }
    .home-info h3{
        font-size: 1.9rem;
        font-weight: 400;
        color: #fc5c65;
    }
    .fa-brands{
        font-size: 2rem;
        padding: 1rem 0;
        padding-right: 1rem;
    }
    #home-btn{
        color: white;
        background-color: #fc5c65;;
        border: none;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding: 0.8rem;
        border-radius: 0.1rem;
    }
    
  
#education {
    width: 100;
    background:white;
    background-clip: content-box;
    text-align:center;
    text-shadow: 2px 2px 5px #EDCCB9;}

.two{
    background-color:white;
}
.flex-education {
    display: flex;
    background-color:white;
  justify-content: center;
  font-weight: 300;
  }
  
  .flex-education > div {
    
    color:black;
    width: 60%;
    line-height: 50px;
    font-size: 22px;
    text-align: center;
    justify-content:center;
    
  }




.three{
    background-color:#eff2f7;
}
.flex-Certificates {
    display: flex;
    background-color:#eff2f7;
  justify-content: center;
  font-weight: 300;
  }
  
  .flex-Certificates > div {
   
    color:black;
    width: 60%;
    line-height: 60px;
    font-size: 22px;
    text-align: center;
    justify-content:center;
    
  }
  #Certificates{
    width: 100;
    background:#eff2f7;
    background-clip: content-box;
    text-align:center;
    text-shadow: 2px 2px 5px #EDCCB9;
}

    

.four{
    background-color:white;}
    .item1 { grid-area: soft; }
    .item2 { grid-area: tech; }
    .flex-container {
      display: flex;
      background-color:white;
      background-size: cover;
      padding: 10px;
    
    }
    .flex-container > div {
      background-color: white;
      font-size: 20px;
      flex: 1;
      justify-content:space-between;
    }
    #skills{
        width: 100;
        background:white;
        background-clip: content-box;
        text-align:center;
        text-shadow: 2px 2px 5px #EDCCB9}
    


  
.five{background-color:#eff2f7;}

#language{
    width: 100;
    background:#eff2f7;
    background-clip: content-box;
    text-align:center;
    text-shadow: 2px 2px 5px #EDCCB9;
}
hr{background-color:#eff2f7;}


.lang-container .lang{
    display: flex;
    justify-content:center;
    flex-direction:row;
    align-items: center;
    background-color: #eff2f7;
    align-items: center;
    font-size: xx-large;
   
}
.lang-container .lang .right-lang .outer-layer{
    background-color: #BBBBBB;
    height:7px;
    width: 200px;
    border-radius:7px;
}.lang-container .lang .right-lang .inner-layer{
    background-color:#d7d9de;
    height: 100%;
    border-radius: inherit;


}

.sex{
    background-color:white;}

.flex-icon {
    display: flex;
  }
  
  .flex-icon > div {
    font-size: 30px;
    
  border-bottom: 3px solid black;
  }
 .flex-container {
    display: flex;
    align-items: center;
    background-color:white;
    font-size:.4rem;
    justify-content:last baseline;
    
  }
  
  .flex-container > div {
    width: 100;
    background:#eff2f7;
    background-clip: content-box;
    text-align:center;
    text-shadow: 2px 2px 5px #EDCCB9;
    
  
  }
  
  #referance{
    width: 100;
    background:white;
    background-clip: content-box;
    text-align:center;
    text-shadow: 2px 2px 5px #EDCCB9;}
  
  .ref {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    text-align: center;
    width: 40%;
  }
  
  .ref:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  #refpic{
    width:200px;height:200px; border-radius: 50%;
  }

  span{
    color: #fc5c65;
    font-weight:900;
   
  }
   
  footer{
    background: #eff2f7;
  }
   
  .footer-container{
    width:100%;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
   
  .social-media a{
    color: #001a21;
    margin-right: 25px;
    font-size: 22px;
    text-decoration: none;
    transition: .3s linear;
  }
   
  .social-media a:hover{
    color: #fc5c65;
  }
   
  .right-col h1{
    font-size: 26px;
  }
   
  .border{
    width: 100px;
    height: 4px;
    background: #fc5c65;
  }



